<div class="jumbotron">
  <h1 class="display-4 text-center">Resend unlock instructions</h1>
</div>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

 <br>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email here..." %>
  </div>

 <br>

 <div class= "d-flex flex-row justify-content-end">
    <div class="actions">
      <%= f.submit "Resend unlock instructions", class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
