<div class="jumbotron">
  <h1 class="display-4 text-center"><%= @post.title %></h1>
</div>

<%# Place content in a card %>
<div class="d-flex justify-content-end mr-5">
  <p>Author: <%= @post.username %></p>
</div>

<h5 class="ml-5 mr-5 text-center">
  <%# <strong>Content:</strong> %>
  <%= @post.content %>
</h5>
<br><br>

<div class="d-flex flex-column"> 
  <div class= "d-flex flex-row justify-content-end">
    <% if @post.user == current_user %>
      <div>
        <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-secondary" %>
      </div>
    <% else %>
      <div></div>
    <% end %>
    <div class="ml-2"> 
      <%= link_to 'Back', posts_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>