<div class="jumbotron">
  <h1 class="display-4 text-center"><%= @post.title %></h1>
</div>

<%# Need to have place for author %>
<%# Place content in a card %>
<h5 class="ml-5 mr-5 text-center">
  <%# <strong>Content:</strong> %>
  <%# <%= @user.user_name%>
  <%= @post.content %>
</h5>

<br><br>

<div class="d-flex flex-column"> 
  <div class= "d-flex flex-row justify-content-end">
    <div>
      <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-secondary" %>
    </div>
    <div class="ml-2"> 
      <%= link_to 'Back', posts_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>